<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <link rel="icon" type="image/png" href="/static/img/icons8-dev-16.png">
    <title>Portifólio</title>
</head>

<body>


    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.png" alt="Foto do Pedro">
            <h1>Pedro Henrique</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/dev-phs/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/Hanzouphs">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-youtube"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/hanzou_phs/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection"></i> Portifólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                  </li>
              </ul>
        </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-end align-items-end flex-column">
          <h2 class="text-shadow animaNome"></h2>
          <span id="subtitle" class="text-shadow mb-5 animaNome2"></span>
        </div>
          <div class="col-md-7 d-flex justify-content-end align-items-end flex-column">
           <div id="arraste" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="#sobre">Arraste para mais</a>
           </div>
          </div>
      </section>
      
      <section id="sobre" class="container mt-5">

        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="p-3">Sobre</h2>
            <p>
              Meu interesse por programação começou quando eu estudava para prestar concurso público.
              Era para a Polícia Federal e para esse concurso a matéria de informática tinha grande peso, e tinha diversos tópicos, dois deles eram sobre as linguagens
               Python e R.
              Eu já gostava bastante de informática no geral, mas a ideia de criar e desenvolver soluções, jogos e aplicativos, sempre me deixou muito fascinado!
              O tempo passou e o edital do concurso não saiu mas tive a oportunidade de prestar um processo seletivo na empresa onde trabalho para o NOC (Network Operation Center),
              felizmente. consegui passar no processo e tive a oportunidade de ver na prática boa parte da teoria que havia estudado, além de ter a oportunidade de trabalhar com profissionais incríveis!
              Com essa experiencia, decidi que queria seguir carreira na área da tecnologia e escolhi me especializar na área de desenvolvimento, então iniciei um curso bacharelado em Engenharia de Software.
              Atualmente, embora já trabalhe na área da tecnologia, ainda estou em busca
              da minha primeira oportunidade de trabalhar como desenvolvedor, até então, sigo desenvolvendo 
              minhas habilidades e conhecimentos para além da faculdade através de cursos, eventos e bootcamps.
            </p>
            
          </div>

        <div class="row mt-4">
          <div class="col-md-4 align-items-center ">
              <img class="img-fluid shadow" src="../static/img/sobremim.png" alt="Foto do pedro"
              data-anime="left">
          </div>
        
          <div class="col-md-8" data-anime="right">
            <h3>Desenvolvedor Full Stack</h3>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-group list-group-flush fs-5">
                    <li class="list-group-item">
                      Aniversário: <span class="fw-lighter">12 de Junho de 1995</span>
                    </li>
                    <li class="list-group-item">
                      Idade: <span class="fw-lighter">27 anos</span>
                    </li>
                    <li class="list-group-item">
                      Cidade: <span class="fw-lighter">Ibirité</span>
                    </li>
                    <li class="list-group-item">
                      Estado: <span class="fw-lighter">Minas Gerais</span>
                    </li>
                    <li class="list-group-item">
                      Hobby: <span class="fw-lighter">Tocar Violão</span>
                    </li>
                  </ul>
                </div>
              </div>
              <p>Apaixonado por desenvolvimento!</p>
            

            <p>meu objetivo é desenvolver softwares e sistemas como soluções para
              as mais diversas necessidades do dia a dia.
              Para alcançar esse objetivo meu compromisso tem sido melhorar e desenvolver habilidades como:</p>
              
            <p><i class="bi bi-check-lg"></i> Bom senso de organização;</p>
            <p><i class="bi bi-check-lg"></i> Boa capacidade de resolução de problemas;</p>
            <p><i class="bi bi-check-lg"></i> Boa capacidade de aprendizagem;</p>
            <p><i class="bi bi-check-lg"></i> Bom espirito de equipe;</p>
            <p><i class="bi bi-check-lg"></i> Boa comunicação.</p>
              
            <p>Essa ultima foi pessoalmente um desafio, visto que era uma pessoas mais tímida.
               Mas eu assumi o compromisso de melhorar e venho me expondo a situações e circunstancias para superar a timidez, embora desafiador, o processo tem sido gratificante!
              
               Sou proativo, focado e persistente, estou sempre procurando melhorar e me preparar para as mais diversas oportunidades que a vida oferece em forma de "sorte".</p>
              
            <p><i>Afinal de contas, para mim, a sorte é o resultado do encontro entre preparo e a oportunidade....</i></p>
              
            </div>
          </div>
        </div>
      </section>

      <section id="habilidades" class="mt-5 section-bg">

        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>Venho estuadando para adquirir habilidades necessárias para atuar como desenvolvedor full Stack
            e Engenheiro de software,
            a maioria delas estão aqui, de acordo com a porcentagem de conhecimento 
            que acredito ter em cada uma delas, sigo trabalhando para melhorar esses números.
          </p>
          <div class="row">

            <div class="col-md-6">
              <p class="mt-3 mb-0">HTML</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 65%" data-anime="left">65%</div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 60%" data-anime="left">60%</div>
              </div>
              <p class="mt-3 mb-0">BOOTSTRAP</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 65%" data-anime="left">65%</div>
              </div>
              <p class="mt-3 mb-0">SASS</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 40%" data-anime="left">40%</div>
              </div>
              <p class="mt-3 mb-0">JAVASCRIPT</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 55%" data-anime="left">55%</div>
              </div>
              <p class="mt-3 mb-0">SCRUM</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 65%" data-anime="left">65%</div>
              </div>
              <p class="mt-3 mb-0">JQUERY</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 55%" data-anime="left">55%</div>
              </div>
              <p class="mt-3 mb-0">AJAX</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 40%" data-anime="left">40%</div>
              </div>
            </div>
            

            <div class="col-md-6">
              <p class="mt-3 mb-0">C#</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 55%" data-anime="left">55%</div>
              </div>
              <p class="mt-3 mb-0">.NET</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 45%" data-anime="left">45%</div>
              </div>
              <p class="mt-3 mb-0">ASP.NET MVC</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 45%" data-anime="left">45%</div>
              </div>
              <p class="mt-3 mb-0">ENTITY FRAMEWORK</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 40%" data-anime="left">40%</div>
              </div>
              <p class="mt-3 mb-0">PYTHON</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 50%" data-anime="left">50%</div>
              </div>
              <p class="mt-3 mb-0">MYSQL</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 45%" data-anime="left">45%</div>
              </div>
              <p class="mt-3 mb-0">GIT</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 65%" data-anime="left">60%</div>
              </div>
              <p class="mt-3 mb-0">PHP</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 55%" data-anime="left">55%</div>
              </div>
            </div>

          </div>

        <hr class="w-50 me-auto ms-auto mt-5"/>

          <div class="row">

            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 98%" data-anime="left">98%</div>
              </div>
              <p class="mt-3 mb-0">Comprometimento</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 99%" data-anime="left">99%</div>
              </div>
              <p class="mt-3 mb-0">Empatia</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 98%" data-anime="left">98%</div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 99%" data-anime="left">99%</div>
              </div>
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 90%" data-anime="left">90%</div>
              </div>
              <p class="mt-3 mb-0">Orientação a detalhes</p>
              <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 98%" data-anime="left">98%</div>
              </div>
            </div>

          </div>

        </div>

      </section>

      <section class="mt-5 cv" id="curriculo">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>
          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>

              <div class="cv-item" data-anime="up">
                <h4>Tec. Serviços Penais</h4>
                <h5>2020 -2022</h5>
                <p><em>FMU</em></p>
                <p>O curso de Serviços Penais é voltado para atuação na segurança publica e áreas jurídicas,
                   focando em diferentes disciplinas 
                    da áreas do conhecimento, como psicologia, direito e gestão.</p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4>Bacharelado em Engenharia de Software</h4>
                <h5>2022 - 2025</h5>
                <p><em>Ampli</em></p>
                <p>Ainda cursando, estou aprendendo matérias como Algorítimos e Programação Estruturada,
                  Arquitetura e Organização de Computadores, Análise e Modelagem de Sistemas,
                  Engenharia de Requisitos, Arquitetura de Software e outras prevista na grade curricular.
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <h3 class="cv-title">Profissional</h3>

              <div class="cv-item" data-anime="up">
                <h4>Representante de Atendimento</h4>
                <h5>2016-2022</h5>
                <p><em>Almaviva do Brasil</em></p>
                <p>Atuando nas funções de administrar chamadas telefônicas e perguntas do atendimento ao cliente.
                  Gerar potenciais clientes de vendas para que se tornem novos clientes.
                   Identificar e avaliar as necessidades dos clientes para obter satisfação.</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>NOC - Network Operation Center</h4>
                <h5>2022 - Atual</h5>
                <p><em>Almaviva do Brasil</em></p>
                <p>Atuando nas funções de preparo de manuais técnicos,
                  documentação de alterações;
                  atualização e manutenção de sistemas,
                  monitoramento das condições do sistema;
                  monitoramento e a gestão dos eventos de TI,
                  análise de incidentes e desenvolvimento de soluções;
                  reconhecimento de falhas na configuração atual das redes,
                  configuração, implementação e suporte aos componentes da
                  rede, dentre outras atividades.
                  </p>
              </div>
            </div>

          </div>

        </div>
      </section>

      <section id="portifolio" class="section-bg mt-5">
        <div class="container pb-5 pb-5" data-anime="left">

          <h2 class="pt-5 pb-5">Portifólio</h2>

          <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">

                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/twterclone.png" class="card-img-top img-fluid w-100 h-100"
                                    alt="Plataforma educacional">
                                <div class="card-body">
                                    <h5 class="card-title">Twitter Clone</h5>
                                    <p class="card-text">Projeto fullstack criado com MySQL, PHP, CSS e HTML.</p>
                                    <div class="d-flex justify-content-center">
                                      <a href="https://github.com/Hanzouphs/TwitterClone"
                                      target='_blank' class="btn btn-outline-dark me-3"><i
                                          class="bi bi-github"></i></a>
                                        <a href="#" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/lojadelanches.png" class="card-img-top img-fluid w-100 h-100"
                                    alt="print do blog">
                                <div class="card-body">
                                    <h5 class="card-title">Loja de lanches</h5>
                                    <p class="card-text">Projeto fullstack criado com MySQL, C#, Asp.Net Core MVC e HTML.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/Hanzouphs/Loja-De-Fast-Food"
                                            target='_blank' class="btn btn-outline-dark me-3"><i
                                                class="bi bi-github"></i></a>
                                        <a href="#" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/apphelpdesk.png" class="card-img-top img-fluid w-100 h-100"
                                    alt="print do blog">
                                <div class="card-body">
                                    <h5 class="card-title mb-2 mt-sm-5">Portal Help Desk</h5>
                                    <p class="card-text mb-5">Projeto fullstack criado com PHP/PDO, MySQL e CSS.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/Hanzouphs/AppHelpDesk" target='_blank'
                                            class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                        <a href="#" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/jogomatamoscas.png" class="card-img-top img-fluid w-100 h-100"
                                    alt="print do blog">
                                <div class="card-body">
                                    <h5 class="card-title">Game Mata Mocas</h5>
                                    <p class="card-text">Projeto criado com JavaScript, HMTL e CSS.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/Hanzouphs/App_Game_MataMosca" target='_blank'
                                            class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                        <a href="https://elegant-syrniki-4b0e97.netlify.app/" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/spotifyclone.png" class="card-img-top img-fluid w-100 h-100"
                                    alt="print do blog">
                                <div class="card-body">
                                    <h5 class="card-title">Clone Spotify</h5>
                                    <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                        JavaScript.</p>
                                    <div class="d-flex justify-content-center">
                                        <a href="https://github.com/Hanzouphs/SiteSpotifyClone"
                                            target='_blank' class="btn btn-outline-dark me-3"><i
                                                class="bi bi-github"></i></a>
                                        <a href="https://tiny-moxie-3bc83d.netlify.app/" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="../static/img/apppesquisa.png" class="card-img-top img-fluid w-100 h-100"
                                    alt="print do blog">
                                <div class="card-body">
                                    <h5 class="card-title mt-5">Página de Pesquisa de Enderços</h5>
                                    <p class="card-text">Projeto front-end criado com HTML, realiza requisições HTTP via XML para API.</p>
                                    <div class="d-flex justify-content-center mt-5">
                                        <a href="https://github.com/Hanzouphs/AppPesquisaDeEndereco" target='_blank'
                                            class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                        <a href="#" target='_blank'
                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
            
          </div>
          
        </div>
      </section>

      <section id="contato" class="pt-5 pb-5">
        <div class="container mb-5">
          <h2 class="pt-3 pb-3">Contato</h2>

            <div class="row">

             <div class="col-md-5">
                <div class="card p-5 shadow border-0" data-anime="up">
                  <div class="endereco">
                    <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                    <p>Ibirité, MG</p>
                  </div>
                  <div class="email">
                    <h4><i class="bi bi-envelope"></i> Email:</h4>
                    <p>ppphsantos@gmail.com</p>
                  </div>

                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.6147760662025!2d-44.06764818466704!3d-19.98269648657441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6bfa814b8e063%3A0xcfbecde86d9dcdab!2sAv.%20Mal.%20Hermes%20-%20Palmares%2C%20Ibirit%C3%A9%20-%20MG%2C%2032400-000!5e0!3m2!1spt-BR!2sbr!4v1676747464809!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

                </div>
             </div>

             <div class="col-md-7 mt-5 mt-md-0">
                <div class="card p-5 h-100 shadow border-0" data-anime="left">

                  <form class="row g-3" action='/send' method="POST">
                    <div class="col-md-6">
                      <label for="nome" class="form-label">Nome:</label>
                      <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                    </div>
                    <div class="col-md-6">
                      <label for="email" class="form-label">Email:</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email"  required>
                    </div>
                    <div class="col-12">
                      <label for="mensagem" class="form-label">Mensagem:</label>
                      <textarea rows="10" type="text" class="form-control" id="inputAddress" placeholder="Digite sua mensagem" name="mensagem" required></textarea>
                    </div>
                   
                    <div  class="col-12 d-flex justify-content-center mt-4">
                      <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar mensagem</button>

                      <button id="btn-enviar-carregando" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Enviando...
                      </button>
                    </div>
                  </form>

                </div>
             </div>

            </div>

        </div>
      </section>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
     {% endfor %}
     {% endif %}
     {% endwith %}

    </main> 

    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>Pedro Henrique</strong>
        </div>
      </div>
    </footer>
    
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>